*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

$mainfont: 'Anton', sans-serif;

body{
    font-family: $mainfont;
}
.border{
    border: rgba(251,173,107,1)!important;
}

.fill { 
    min-height: 100% !important;
    height: 100vh !important;
    width: 100% !important;
}

#slider{
    background-image: url(../images/sliderSlika1Edit.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 1s;
    #modalBoxContact{
        position: absolute;
        right: 20px;
        top: 20px;
        width: 4%;
        height: 8%;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 50%;
        i{
            &:hover{
                text-shadow: 0px 0px 10px rgba(251,173,107,1);
            }
        }

    }
}

.orangeBgColor{
    background: linear-gradient(90deg, rgba(251,173,107,1) 0%, rgba(252,189,136,1) 50%, rgba(253,216,185,1) 100%, rgba(254,234,217,1) 100%, rgba(255,255,255,1) 100%);
}
.orangeTextColor{
    color: rgba(251,173,107,1)
}

.blueBgColor{
    background: linear-gradient(90deg, rgba(73,140,159,1) 0%, rgba(140,183,195,1) 50%, rgba(178,207,215,1) 76%, rgba(199,220,226,1) 100%, rgba(216,231,235,1) 100%, rgba(255,255,255,1) 100%);
}

i{
    font-size: 2vw;
    cursor: pointer;
    width: 4%;
    transition: 0.4s;
    &:hover{
        text-shadow: 0px 0px 6px black;
    }
}
.menu--off {
    position: absolute;
    z-index: 2;
    left: -10%;
    width: 10%;
    display: block;
    background-color: rgba(255, 255, 255, 0.9);
    min-height: 600px;
    height: 100vh;
    min-height: 100%;
    transition: all 500ms;
    i{
        &:hover{
            text-shadow: 0px 0px 10px rgba(251,173,107,1);
        }
    }
    #leftArrow{
        position: absolute;
        z-index: 2;
        right: 0;
        margin-right: 2vw;
        margin-top: 1vw;
    }
    #nav{
        margin-top:130%;
        i{
            margin-bottom: 200px;
            &:hover{
                text-shadow: 0px 0px 10px rgba(251,173,107,1);
            }
        }
    }
  }

  .menu--on {
    left: 0;
    box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.2);
    transition: all 500ms;
  }

  #modalBoxBlur{
      display: none;
      position: absolute;
      z-index: 2;
      background-color: rgba(255, 255, 255, 0.7);
      #modalBoxForm{
          width: 45%;
          height: 90%;
          margin: 0 auto;
          margin-top: 3%;
          text-align: right;
          z-index: 3;
          background: linear-gradient(160deg, rgba(73,140,159,1) 0%, rgba(140,183,195,1) 50%, rgba(178,207,215,1) 76%, rgba(199,220,226,1) 100%, rgba(216,231,235,1) 100%, rgba(255,255,255,1) 100%);
          i{
              color: white;
            &:hover{
                color: rgba(251,173,107,1);
            }
          }
      }
  }

  //FORMA

  form{
    .formElements{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .textUpozorenje{
        text-align: left;
        color: red;
    }
    input[type="text"],input[type="email"]{
        background: transparent;
        border-bottom: 3px solid white;
        font-size: 1.3vw;
        margin-bottom: 5%;
        padding: 3%;
        color: white;
        border-top-width: 0px;
        border-left-width: 0px;
        border-right-width: 0px;
      }
      ::placeholder{
        color: white;
        opacity: 0.5;
    }
    input[type="text"]:focus{
        outline: none;
        border-bottom: 3px solid rgba(251,173,107,1);
        transition: 0.5s;
    }
    input[type="email"]:focus{
        outline: none;
        border-bottom: 3px solid rgba(251,173,107,1);
        transition: 0.5s;
    }
    select {
        -webkit-appearance: none; 
        -moz-appearance: none;
        appearance: none; 
        font-size: 1.3vw;
        width: 150px;
        background: transparent;
        color: white;
        border: 3px solid #fff;
        padding: 3%;
        background-image: url('../images/arrowdownedit.png');
        background-repeat: no-repeat;
        background-position:98% center;
        cursor: pointer;
     }
     select:focus{
        outline: none;
        border: 3px solid rgba(251,173,107,1);
        transition: 0.5s;
        option{
            background-color:rgba(73,140,159,1);
        }
    }
     input[type="radio"]{
         width: 20px;
         height: 20px;
     }
     label{
         font-size: 1.1vw;
     }
     .btn-outline-secondary {
        color: white !important;
        border:4px solid white !important;
        font-size: 1.3vw;
        border-radius: 0 !important;
        &:hover{
            background-color: rgba(251,173,107,1);
        }
    }
    .borderUpozorenje{
        border-bottom: 3px solid red;
    }
    .hideError{
        display: none;;
    }
    .showError{
        display: block;
        color: red;
        margin-left: 5px;
        font-size: 1vw;
    }
      
  }

.visina{
    height: 500px;
    width: 500px;
    background-color: red;
}

.stop-scrolling { 
    height: 100%; 
    overflow: hidden; 
}



 

